body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1288px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1309px;
  background:-webkit-linear-gradient(225deg, rgba(39, 160, 164, 1) 0%, rgba(39, 160, 164, 1) 0%, rgba(18, 75, 124, 1) 100%, rgba(18, 75, 124, 1) 100%);
  background:-moz-linear-gradient(225deg, rgba(39, 160, 164, 1) 0%, rgba(39, 160, 164, 1) 0%, rgba(18, 75, 124, 1) 100%, rgba(18, 75, 124, 1) 100%);
  background:linear-gradient(225deg, rgba(39, 160, 164, 1) 0%, rgba(39, 160, 164, 1) 0%, rgba(18, 75, 124, 1) 100%, rgba(18, 75, 124, 1) 100%);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:1px 2px 2px rgba(0, 0, 0, 0.219607843137255);
  -webkit-box-shadow:1px 2px 2px rgba(0, 0, 0, 0.219607843137255);
  box-shadow:1px 2px 2px rgba(0, 0, 0, 0.219607843137255);
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:1280px;
  height:1309px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:537px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:130px;
  width:781px;
  height:537px;
  opacity:0.9;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:1px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:92px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#124B7C;
  text-align:left;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:25px;
  width:37px;
  height:36px;
  font-size:36px;
  color:#124B7C;
  text-align:left;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:72px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:13px;
  width:205px;
  height:72px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#124B7C;
  text-align:left;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:25px;
  width:38px;
  height:36px;
  font-size:36px;
  color:#124B7C;
  text-align:left;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u26_ann {
  border-width:0px;
  position:absolute;
  left:63px;
  top:21px;
  width:1px;
  height:1px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:501px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:257px;
  height:501px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:184px;
  width:257px;
  height:408px;
  overflow:hidden;
}
#u29_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:408px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:3px;
  width:110px;
  height:19px;
}
#u32_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32.mouseOver {
}
#u32_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32.selected {
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:46px;
  width:110px;
  height:19px;
}
#u33_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33.mouseOver {
}
#u33_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33.selected {
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:95px;
  width:110px;
  height:19px;
}
#u34_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34.mouseOver {
}
#u34_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34.selected {
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:145px;
  width:109px;
  height:19px;
}
#u35_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35.mouseOver {
}
#u35_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35.selected {
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:214px;
  width:109px;
  height:17px;
}
#u36_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36.mouseOver {
}
#u36_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36.selected {
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:267px;
  width:110px;
  height:19px;
}
#u37_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37.mouseOver {
}
#u37_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37.selected {
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:320px;
  width:110px;
  height:19px;
}
#u38_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38.mouseOver {
}
#u38_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38.selected {
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:2px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:184px;
  width:257px;
  height:1px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:43px;
  width:25px;
  height:24px;
  text-align:left;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:317px;
  width:25px;
  height:24px;
  text-align:left;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:92px;
  width:25px;
  height:24px;
  text-align:left;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:3px;
  width:25px;
  height:24px;
  text-align:left;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:140px;
  width:25px;
  height:24px;
  text-align:left;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:211px;
  width:25px;
  height:24px;
  text-align:left;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:264px;
  width:25px;
  height:24px;
  text-align:left;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:446px;
  width:25px;
  height:16px;
  text-align:left;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:256px;
  height:74px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:106px;
  width:156px;
  height:38px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:150px;
  width:264px;
  height:69px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:16px;
  width:248px;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:584px;
  height:292px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:244px;
  width:560px;
  height:268px;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Bold', 'Lato Bold', 'Lato';
  font-weight:700;
  font-style:normal;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:244px;
  width:280px;
  height:44px;
  font-family:'Lato-Bold', 'Lato Bold', 'Lato';
  font-weight:700;
  font-style:normal;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:13px;
  width:272px;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:288px;
  width:280px;
  height:20px;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:259px;
  width:15px;
  height:15px;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:259px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
.u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  color:#7F7F7F;
}
.u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u57-2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:40px;
  height:20px;
}
#u57-3 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:40px;
  height:20px;
}
#u57-4 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:40px;
  height:20px;
}
#u57-5 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:40px;
  height:20px;
}
#u57-6 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:40px;
  height:20px;
}
#u57-7 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:40px;
  height:20px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:288px;
  width:280px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
.u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  font-size:11px;
  color:#212121;
}
.u60_img.mouseOver {
}
.u60.mouseOver {
}
.u60_img.selected {
}
.u60.selected {
}
.u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u59-2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:32px;
  height:32px;
}
#u59-3 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:32px;
  height:32px;
}
#u59-4 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:32px;
  height:32px;
}
#u59-5 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:32px;
  height:32px;
}
#u59-6 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:32px;
  height:32px;
}
#u59-7 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:32px;
  height:32px;
}
#u59-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:32px;
  height:32px;
}
#u59-9 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:32px;
  height:32px;
}
#u59-10 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:40px;
  width:32px;
  height:32px;
}
#u59-11 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:32px;
  height:32px;
}
#u59-12 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:40px;
  width:32px;
  height:32px;
}
#u59-13 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:32px;
  height:32px;
}
#u59-14 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:40px;
  width:32px;
  height:32px;
}
#u59-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:32px;
  height:32px;
}
#u59-16 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:80px;
  width:32px;
  height:32px;
}
#u59-17 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:80px;
  width:32px;
  height:32px;
}
#u59-18 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:32px;
  height:32px;
}
#u59-19 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:80px;
  width:32px;
  height:32px;
}
#u59-20 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:80px;
  width:32px;
  height:32px;
}
#u59-21 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:80px;
  width:32px;
  height:32px;
}
#u59-22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:32px;
  height:32px;
}
#u59-23 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:120px;
  width:32px;
  height:32px;
}
#u59-24 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:120px;
  width:32px;
  height:32px;
}
#u59-25 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:120px;
  width:32px;
  height:32px;
}
#u59-26 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:120px;
  width:32px;
  height:32px;
}
#u59-27 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:120px;
  width:32px;
  height:32px;
}
#u59-28 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:120px;
  width:32px;
  height:32px;
}
#u59-29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:32px;
  height:32px;
}
#u59-30 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:160px;
  width:32px;
  height:32px;
}
#u59-31 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:160px;
  width:32px;
  height:32px;
}
#u59-32 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:160px;
  width:32px;
  height:32px;
}
#u59-33 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:160px;
  width:32px;
  height:32px;
}
#u59-34 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:160px;
  width:32px;
  height:32px;
}
#u59-35 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:160px;
  width:32px;
  height:32px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:317px;
  width:272px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 151, 167, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:244px;
  width:280px;
  height:31px;
  color:#FFFFFF;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:6px;
  width:272px;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:237px;
  background:inherit;
  background-color:rgba(38, 157, 162, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:275px;
  width:280px;
  height:237px;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:91px;
  background:inherit;
  background-color:rgba(38, 157, 162, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:275px;
  width:280px;
  height:91px;
  font-size:24px;
  color:#FFFFFF;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:36px;
  width:272px;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:86px;
  background:inherit;
  background-color:rgba(38, 157, 162, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:78px;
  color:#FFFFFF;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:353px;
  width:280px;
  height:86px;
  font-size:78px;
  color:#FFFFFF;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:34px;
  width:272px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:52px;
  background:inherit;
  background-color:rgba(38, 157, 162, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#B3E6E9;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:445px;
  width:280px;
  height:52px;
  font-size:26px;
  color:#B3E6E9;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:17px;
  width:272px;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:36px;
  background:inherit;
  background-color:rgba(18, 75, 124, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Bold', 'Lato Bold', 'Lato';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:531px;
  width:496px;
  height:36px;
  font-family:'Lato-Bold', 'Lato Bold', 'Lato';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:472px;
  word-wrap:break-word;
}
